<!DOCTYPE html>
<html>
  <head>
    <title>Eleven vs. the Demogorgan</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-app="StrangerThings" ng-controller="MyController">
    <audio src="audio.mp3" autoplay loop></audio>
    <div ng-class="{parentDisable: win || lose}"></div>
    <div class="page-wrapper row">
      <div class="game-wrapper">
        <div class="game-upper-panel row">
          <div class="text-log-wrapper">
            <div class="text-log-entry" ng-repeat="entry in textLog track by $index">
              {{entry}}
            </div>
          </div>
          <div class="picture-wrapper">
              <img src="fight.png" />
          </div>
        </div>
        <div class="game-options-wrapper wrapper">
          <optionsmenu />
        </div>
      </div>
      <div class="stats-wrapper">
        <div class="demo-stats-wrapper wrapper">
          Demogorgan:
          <div ng-repeat="(key, value) in demogorgan.stats">
            <statbar stat=value />
          </div>
        </div>
        <div class="el-stats-wrapper wrapper">
          Eleven:
          <div ng-repeat="(key, value) in eleven.stats">
            <statbar stat=value />
          </div>
        </div>
      </div>
    </div>
    <div class="game-result-modal" ng-show="!!win">
      YOU WIN!
    </div>
    <div class="game-result-modal" ng-show="!!lose">
      YOU LOSE!
    </div>
    <script src="app.js"></script>
  </body>
</html>
